body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 32px;
    padding: 180px 17%;
  }
  
  .container-text {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .container-text h1 {
    color: #333;
    font-size: 36px;
  }
  
  .container-img img {
    width: 500px;
  }
  
  .text-description p {
    width: 100%;
    line-height: 2;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
  }
  
  .colortext {
    color: #ff8e3c;
  }
  
  .following-of-cheff {
    display: flex;
    align-items: center;
  }
  
  .following-of-cheff img {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 60%;
  }
  
  .profile1 img,
  .profile2 img,
  .profile3 img {
    border-radius: 50%;
    margin-left: -20px;
  }
  
  .following-of-cheff span {
    font-size: 14px;
    margin-left: 10px;
  }

  @media (max-width: 1285px) {
    .container {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 1300px) {
    .container {
      display: flex;
      /* flex-direction: column; */
    }

    .container-text p {
      font-size: 16px;
    }
    .container-img img {
      width: 500px;
      height: 100%;
    }
  }
  
  @media  (max-width: 860px ){
   
    .container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .container-img img {
      width: 100%;
    }
   .container-text h1{
    font-size: 2.5rem;
     
   }
  
    .following-of-cheff {
      margin-top: 0px;
      width: 100%;
      margin-top: 20px;
    }
  
    .profil1 img,
    .profile2 img,
    .profile3 img {
      width: 50px;
      height: 50px;
    }
  
    .following-of-cheff span {
      font-size: 14px;
      
    }
  }